# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local

# Project Specific
/data/
/lora_adapters/adapter_model.safetensors
# LaTeX
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.out
*.toc
*.bbl
*.blg

# OS
.DS_Store
Thumbs.db
